/* bg animations */
@keyframes anv-bg-color {
  0% {
    background-color: #ccf0ad;
  }

  50% {
    background-color: #ebdc9b;
  }

  100% {
    background-color: #ccf0ad;
  }
}

@keyframes uki-bg-color {
  0% {
    background-color: #bec5fa;
  }

  50% {
    background-color: #b0d0eb;
  }

  100% {
    background-color: #bec5fa;
  }
}

@keyframes epho-bg-color {
  0% {
    background-color: #d9d9d9;
  }

  50% {
    background-color: #e6d2cf;
  }

  100% {
    background-color: #d9d9d9;
  }
}

@keyframes pm-bg-color {
  0% {
    background-color: #f4d9fa;
  }

  50% {
    background-color: #dfcfff;
  }

  100% {
    background-color: #f4d9fa;
  }
}

@keyframes bau-bg-color {
  0% {
    background-color: #f2f2c7;
  }

  50% {
    background-color: #d8e7ed;
  }

  100% {
    background-color: #f2f2c7;
  }
}

@keyframes gru-bg-color {
  0% {
    background-color: #c1f5e0;
  }

  50% {
    background-color: #ffd1c2;
  }

  100% {
    background-color: #c1f5e0;
  }
}

/* background image + their effects */
.uki_bg-image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../img/uki/ukiyo-e_bg.jpeg");
  height: 100vh;
  width: 100%;
  transform: scale(1.2);

  filter: blur(3px);
  -webkit-filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: uki-bg-color 20s infinite;
  background-blend-mode: screen;
}

.anv_bg-image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../img/anv/anv-bg.webp");
  height: 100vh;
  width: 100%;

  -webkit-filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: anv-bg-color 20s infinite;
  background-blend-mode: screen;
}

.epho_bg-image {
  position: fixed;
  transform: scale(1.2);
  top: 0;
  left: 0;

  background-image: url("../img/epho/birds-of-orkney.webp");
  height: 100vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: epho-bg-color 20s infinite;
  background-blend-mode: screen;
}

.pm_bg-image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../img/pm/basquiat.jpg");
  height: 100vh;
  width: 100%;

  filter: blur(3px);
  -webkit-filter: blur(3px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: pm-bg-color 20s infinite;
  background-blend-mode: overlay;
}

.bau_bg-image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../img/bau/kadinsky-bg.jpg");
  height: 100vh;
  width: 100%;

/*   filter: blur(3px);
  -webkit-filter: blur(3px); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: bau-bg-color 20s infinite;
  background-blend-mode: screen;
}

.gru_bg-image {
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../img/gru/david_carson_bg.jpg");
  height: 100vh;
  width: 100%;

  filter: blur(2px);
  -webkit-filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  animation: gru-bg-color 20s infinite;
  background-blend-mode: screen;
}